html {
  font-family: Merriweather, serif;
}

td {
  height: 10em;
}

th, td {
  border: 2px solid #ccc;
}

.box {
  border-radius: 8px;
}

.box-grey {
  background-color: #f2f2f2;
  border: 1px solid #333;
  color: #666;
}

.box-red {
  background-color: #f2bcbc;
  border: 1px solid #b92828;
  color: #991919;
}

.box-green {
  background-color: #d1e0bf;
  border: 1px solid #6b7e54;
  color: #51603f;
}

.box-blue {
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  color: #38448e;
}
